<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>FFFA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free Website Template" name="keywords" />
    <meta content="Free Website Template" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
  
  </head>

  <body>
    <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="top-bar-left">
                            <div class="text">
                                <i class="fa fa-phone-alt"></i>
                                <p>+123 456 7890</p>
                            </div>
                            <div class="text">
                                <i class="fa fa-envelope"></i>
                                <p>info@example.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href="https://twitter.com/freefoodsg"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/freefoodsg/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.youtube.com/channel/UCu8NTaUsRtp3RucMr5AbtiA"><i class="fab fa-youtube"></i></a>
                                <a href="https://www.instagram.com/freefoodforall/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand">Community</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="index.html" class="nav-item nav-link active">Home</a>
                        <a href="#about" class="nav-item nav-link">About</a>
                        <a href="#blog" class="nav-item nav-link">Blog</a>
                        <a href="#event" class="nav-item nav-link">Events</a>
                        <a href="#contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->


    <!-- Page Header Start -->
    <div class="page-header" style ="background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(img/uncle-p.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>From Blog</h2>
          </div>
          <div class="col-12">
            <a href="">Home</a>
            <a href="">Blog</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Blog Start -->
    <div class="blog">
      <div class="container">
        <div class="section-header text-center">
          <p>Our Blog</p>
          <h2>Story by Mr "P"</h2>
        <div class="blog-text">
            Mr "P" inherited a HDB flat alongside his siblings from their parents. 
            He currently resides there with his brother whom he has a tense relationship with. To avoid 
            confrontations, Mr "P" waits for his brother to fall asleep before he returns home.
            Mr "P" spends his time waiting on a bench at his void deck, staring at his brother's room 
            for hours everyday, until the lights go off. That is his signal that it is tim to return home.
            This timing can vary each day from 12am till 1am. As a 65 year old unmarried male, his income 
            has dropped significantly and he struggles to cover his daily expenses.
         <section id="app">
          <div class="container" style ="padding-top: 20px;">
                <div class="comment">
                  <div v-for="items in item" v-text="items"></div>
                </div>
                <textarea
                  type="text"
                  class="input"
                  placeholder="Write a comment"
                  v-model="newItem"
                  @keyup.enter="addItem()"
                ></textarea>
                <button
                  v-on:click="addItem()"
                  class="primaryContained"
                  type="submit"
                >
                  Add Comment
                </button>
        </div>
          </div>
        </section>
        </div>
       
      </div>
    </div>
    <!-- Blog End -->

    <!-- Back to top button -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Pre Loader -->
    <div id="loader" class="show">
      <div class="loader"></div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/parallax/parallax.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
      $(document).ready(function () {
        $(".primaryContained").on("click", function () {
          $(".comment").addClass("commentClicked");
        }); //end click
        $("textarea").on("keyup.enter", function () {
          $(".comment").addClass("commentClicked");
        }); //end keyup
      }); //End Function

      new Vue({
        el: "#app",
        data: {
          title: "Add a comment",
          newItem: "",
          item: [],
        },
        methods: {
          addItem() {
            this.item.push(this.newItem);
            this.newItem = "";
          },
        },
      });
    </script>
  </body>
</html>
